@import "tailwindcss";

 body {
    background-color: #0D0D0D; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 ul {
  list-style: none;
 }

 .custom-scrollbar::-webkit-scrollbar {
  height: 10px;
 } 

.custom-scrollbar::-webkit-scrollbar-track {
  background: "#282828";
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4af37;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thum:hover {
  background-color: #f0c950;
}
